* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171c25;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e4e4e4;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d6d6d;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.header {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: oldlace;
  background: #171c25;
  width: 100%;
  padding: 2rem;
  top: 0;
  opacity: 0.99;
}
.header_profile {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header_profile_img {
  user-select: none;
  margin-bottom: 1rem;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 2px cyan, 0 0 0 4px red;
  border-radius: 50%;
  z-index: 4;
}
.header_profile:before,
.header_profile:after {
  border-radius: 50%;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  width: 200px;
  height: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.8;
}
.header_profile:after {
  background: red;
  z-index: 3;
}
.header_profile:before {
  background: red;
  z-index: 2;
}
.header_profile:hover:before {
  animation: glitch 3500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
.header_profile:hover:after {
  animation: glitch 3500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
.header_bio {
  max-width: 300px;
}
.header_title {
  padding: 0;
  margin: 0;
  width: 100%;
}
.header_title_h2 {
  padding-bottom: 1rem;
  display: inline-block;
  border-bottom: 1px solid rgba(238, 238, 238, 0.479);
}
.header .left-slash {
  color: cyan;
}
.header .right-slash {
  color: red;
}
.header_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
@keyframes glitch {
  0% {
    transform: translate(-50%, 0);
  }
  20% {
    transform: translate(calc(-50% - 8px), 5px);
  }
  40% {
    transform: translate(calc(-50% - 8px), -5px);
  }
  60% {
    transform: translate(calc(-50% + 5px), 8px);
  }
  80% {
    transform: translate(calc(-50% + 5px), -8px);
  }
  to {
    transform: translate(-50%, 0);
  }
}
.noscroll {
  overflow: hidden;
}
.photo-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.photo-grid_image {
  cursor: pointer;
  user-select: none;
  width: calc(100%/6);
  height: calc(100vw/6);
  object-fit: cover;
}
@media (max-width: 1300px) {
  .photo-grid_image {
    width: calc(100% / 5);
    height: calc(100vw / 5);
  }
}
@media (max-width: 1000px) {
  .photo-grid_image {
    width: calc(100% / 4);
    height: calc(100vw / 4);
  }
}
@media (max-width: 800px) {
  .photo-grid_image {
    width: calc(100% / 3);
    height: calc(100vw / 3);
  }
}
@media (max-width: 400px) {
  .photo-grid_image {
    width: calc(100% / 2);
    height: calc(100vw / 2);
  }
}
.fullscreen {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.close {
  cursor: pointer;
  user-select: none;
  position: absolute;
  top: 1.25rem;
  right: 1.65rem;
  background: #171c25;
}
.modal {
  z-index: 200;
  font-size: 0.9rem;
  width: 100%;
  max-width: 935px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.modal_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.modal_image_container {
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 450px;
  max-height: 700px;
  min-width: calc(100% - 335px);
}
@media (max-width: 1024px) {
  .modal_image_container {
    justify-content: flex-end;
    min-height: auto;
  }
}
@media (max-width: 1024px) {
  .modal_image {
    max-height: 350px;
    width: 100%;
  }
}
.modal_post {
  background: #fffbf5;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .modal_post {
    max-width: 100%;
    width: 100%;
    max-height: 50vh;
    overflow-x: hidden;
  }
}
.modal_artist {
  background: #fffbf5;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(335px - 40px);
  height: 60px;
  border-bottom: 1px solid #eee;
}
.modal_artist_pic {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 45px;
}
@media (max-width: 1024px) {
  .modal_artist_pic {
    width: 40px;
  }
}
@media (max-width: 1024px) {
  .modal_artist {
    display: none;
  }
}
.modal_artist_small {
  display: none;
  background: #fffbf5;
  flex-direction: row;
  align-items: center;
  width: calc(335px - 40px);
  padding: 20px;
  border-bottom: 1px solid #eee;
}
.modal_artist_small_pic {
  margin-right: 0.5rem;
  border-radius: 50%;
  width: 45px;
}
@media (max-width: 1024px) {
  .modal_artist_small_pic {
    width: 40px;
  }
}
@media (max-width: 1024px) {
  .modal_artist_small {
    display: flex;
    height: 60px;
    width: 100%;
    order: -2;
  }
}
.modal_comments {
  max-width: calc(335px - 40px);
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}
@media (max-width: 1024px) {
  .modal_comments {
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    padding-top: 0;
  }
}
.modal_icons {
  padding: 10px 0 0 0;
}
.modal_icons svg {
  margin-right: 14px;
}
.modal_icons svg:nth-child(4) {
  margin-right: 0;
  float: right;
}
@media (max-width: 1024px) {
  .modal_icons {
    width: 100%;
    order: -1;
  }
}
.modal_date {
  padding: 10px 0;
  font-size: 10px;
  color: #999;
}
@media (max-width: 1024px) {
  .modal_date {
    width: 100%;
  }
}
.modal input {
  bottom: 0;
  font-size: 0.95rem;
  padding: 1rem 0;
  border: none;
  border-top: 1px solid #eee;
}
@media (max-width: 1024px) {
  .modal input {
    display: none;
  }
}
.modal input:focus {
  outline: none;
}
@media (max-width: 1024px) {
  .modal {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    padding: 10% 5%;
  }
}
